/* -- Contacts -- */
#form {
  @include flex-col;

  align-items: center;
  text-align: center;
}

label {
  display: block;
}

input {
  max-width: 100%;
  padding: 0.5em;
  border: 1px solid $cookie-brown;
  border-radius: 10px;
  margin: 0.5em;
  font-family: inherit;
}

.contact-list {
  list-style-type: none;
  padding: 1em;
}

#submit {
  background-color: $cookie-brown;
  color: $cookie-yellow;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 10px;

  &:focus,
  &:hover {
    background-color: $spray;
    border-color: darken($spray, 20);
  }
}

.contact_social {
  @include flex-row;

  justify-content: center;
  text-align: center;

  p {
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    width: 100%;
  }
}

.contact_icon {
  font-size: 2em;
  color: $cookie-brown;

  &:focus,
  &:hover {
    color: $spray;
  }
}

#form,
.contact_social,
.contact_credits {
  border: 1px solid $cookie-brown;
  margin: 1em 0.4em;
  border-radius: 10px;
  flex: 1 0 250px;
  font-size: 1.3em;
}
